
body, a{
     margin:0; 
     padding:0; 
     text-decoration:none; 
     list-style:none;
     box-sizing: border-box; 
     font-family: 'Roboto', sans-serif; 
     color:black;
}
body{
    font-size:16px;

}

img{max-width: 100%;}

h1{font-size:3em;}
h2{font-size: 2em;}
h3{font-size: 1.3em;}
p{
    font-size: 1em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


/* ----------------------- HEADER */
header{
    position: fixed;
    top:0;
    right: 0;
    left:0;
    z-index: 2;
    max-width: 100%;
    min-width: 700px;
    margin-right: 9em;
    margin-left: 9em;
    padding-bottom: 0.8em;
    background-color: white;
}
.header-contain{
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 6.6em;
    grid-template-areas:" logo profil ";
}
.header-logo{
    grid-area: logo;
    height: auto;
}

/* HEADER -- PROFIL*/

.header-profil{
    grid-area: profil;
    justify-self: end;
    align-self: center;
    display:flex;
    flex-direction: column;
    position: relative; 
    margin:0;
    width: auto;
    min-width: 10em;
}
.header-profil_nom{
    display:flex; 
    justify-content: flex-end;
    margin:0;
    cursor: pointer;
}
.header-profil_nom::after{
    content:"";
    background: url(../images/icone-close.png) center/contain no-repeat;
    display:none;
    vertical-align: sub;
    opacity: 0;
} 
.header-profil_nom::before{
    content:"";
    display:inline-block;
    vertical-align: sub;
    height: 1.8em;
    width: 1.8em;
    margin:0;
    background:url(../images/profil.png) center/contain no-repeat;
}
.header-profil_nom > p{
    margin:0; 
    margin-left:0.2em;
    font-size: 1.1em;
    line-height: 1.8em;
}
.header-profil_nom > p::first-letter{
    text-transform: uppercase;
}
.header-profil > a{
    font-size: 0.8em;
    font-weight: 300;
    display: block;
    line-height: 2em;
    text-align: right;
    color:red;
}
.header-profil_nom > a:hover{
    color: rgba(0, 0, 0, 0.8);
}
.header-profil_overlay{
    position: absolute;
    bottom:-2em;
    width: 100%;
    opacity: 0;
}
.header-profil:hover .header-profil_overlay{
    opacity: 1;
    transition: 0.5s ease;
}


/* ----------------------- FOOTER */

footer{
    width: 100%;
    background-color: black;
    height: 3em;
}
footer p{
    margin: auto;
    font-weight: 100;
    color:white;
    text-align: center;
    line-height: 3em;
}

/* ----------------------- SECTIONS */
main{
    max-width: 100%;
    min-width: 700px;
    margin:0 auto;
}
section{
    width: 100%;
    padding-top:5.6em;
    margin:auto;
}

/* ------------------------------ Page Accueil */
.main-accueil{
    padding-right: 9em;
    padding-left: 9em;
    margin-top:6.6em; 
}

/* GBAF présentation */

.GBAF{
    margin-bottom:80px;
}
.GBAF-illustration{
    margin-top:80px;
    position: relative;
    width: 100%;
    height:400px;
    background:url(../images/illustration.jpg) center / cover no-repeat;
}
.GBAF-illustration img{
    position: absolute;
    right:20px;
    bottom:20px;
    width: 80px;
}

 /* Liste acteurs et partenaires */

.list-acteurs{
    border-top:0.2em solid rgba(0, 0, 0, 0.1);
}
.acteurs{
    background-color:rgba(0, 0, 0, 0.02);
    padding:1.2em;
    min-width: 764px;
}
.acteurs ul{
    margin:0;
    padding: 0;
}
.acteur-seul{
    display: grid;
    grid-template-columns: 370px 2fr 150px ;
    grid-template-rows: 1fr 2em 1fr;
    grid-template-areas: "logo nom nom"
                "logo infos ." 
                "logo . button";
    column-gap: 20px;
    align-items:center;
    margin-bottom: 1.25em;
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.12);
}
.acteur-seul > img{
    height: auto;
    margin:0.5em;
    grid-area: logo;
}
.acteur-seul > h3{
    grid-area: nom;
}
.acteur-seul_description {
    max-width: 100%;
    grid-area: infos;
    overflow: hidden;

}
.acteur-seul_description > p:first-of-type{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.acteur-seul_description > ul, .acteur-seul_description > p ~ p{
    display:none;
} 

.acteur-seul > a{
    grid-area: button;
    justify-self:end;
    align-self: start;
    border: 1px solid black;
    border-radius:0.4em;
    padding: 0.5em;
    margin-right:30px;
}
.acteur-seul > a:hover{
    background-color:black;
    color:white;
}

/* ------------------------------ Page Partenaire */

.main-partenaire{
    margin-right: 9em;
    margin-left: 9em;
    margin-top:6.6em; 
}

/* SECTION PARTENAIRE */
.partenaire{
    padding:2em 0 2em 0;
}
.partenaire > img{
    width: 30em;
    display: block;
    margin: auto;
}
.partenaire > a{
    font-size: 0.85em;
    text-decoration: underline;
}
.partenaire > p{
    white-space: pre-wrap;
}

/* SECTION Commentaires */

.commentaires{
    width: auto;
    background-color:rgba(0, 0, 0, 0.05);
    padding: 2em;
}
.commentaires-formulaires{
    display:grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 2em; 
    align-items: center;
    margin-bottom: 1em;
}
.commentaires-formulaires > p{
    font-size: 1.5em;
}


/*  Nouveau Commentaire*/

.new_commentaire > label{
    border:1px solid black;
    padding: 0.5em;
    border-radius: 0.5em;
    margin:auto;
    background-color: white;
}
.new_commentaire > label:hover{
    background-color: black;
    color:white;
}
.new_commentaire > input{
display: none;
}
.new_commentaire_popup{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top:6.6em;
    right: 0;
    width: 100%;
    height: calc(100% - 6.6em);
    background-color: rgba(0, 0, 0, 0.5);
}
.new_commentaire_popup > p{
    width: max-content;
    height: max-content;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1em;
    margin:0;
    margin-bottom:3em;
    border-radius: 0.5em;
    background-color: white;
    z-index:2;
}
.new_commentaire_popup > p > .close_popup {
    align-self: flex-end;
    background: url(../images/icone-close.png) center/contain no-repeat;
    width: 1.25em;
    height:1.25em ;
}
.new_commentaire_popup > p :nth-child(2)
{
    margin-right: 2em;
    margin-left: 2em;
}
.new_commentaire_popup > p > textarea{
    padding: 0.5em;
    margin:0.5em 2em 0.5em 2em;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}
.new_commentaire_popup > p > input{
    align-self: flex-end;
    margin-right: 2.3em;
    padding:0.2em 1em 0.2em 1em;
}
#popup_button:checked + .new_commentaire_popup{
    display: flex;
}



/* Like / dislike*/

.commentaires-likes > p{
    display:flex;
    justify-content: center;
    border:1px solid black;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}
.likes::after , .dislikes::before{
    content: "";
    display: inline-block;
    vertical-align: sub;
    width: 1.25em;
    height: 1.25em; 
    cursor: pointer;
}
.likes::after{
    background: url(../images/icone-like.png) center / cover no-repeat;
    margin-right: 0.3em;
}
.dislikes::before{
    background: url(../images/icone-dislike.png) center / cover no-repeat;
}
.commentaires-likes input{
display: none;
}
.commentaires-likes input:checked + label::after{
    background: url(../images/icone-like-active.png) center / cover no-repeat;  
}
.commentaires-likes input:checked + label::before{
    background: url(../images/icone-dislike-active.png) center / cover no-repeat;  
}

/* liste commentaires*/

.commentaires-liste {
    padding:0;
    margin: 0;
}
.commentaires-liste li{
    border:0.1em solid black;
    border-radius: 0.5em;
    padding:1em;
    margin-bottom: 1em;
    list-style:none;
    background-color: white;
}

/* Aside retour page accueil*/

 .retour-accueil a{
    display: block;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: right; 
    font-size: 0.85em;
    text-decoration: underline;
}

/* ------------------------------ Pages Connexion & Inscription */

.inscription-connexion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
}
.inscription-connexion fieldset{
    display: flex;
    flex-direction: column;
    padding: 1em 7em 1em 7em;
    /* max-width: 15% */; 
    background-color:#ebebeb;
    border:none;
    border-radius: 0.2em;
}
.inscription-connexion fieldset > legend{
    background-color:#ebebeb;
    padding:0.5em 1em 0.5em 1em;
    margin-left:-7em;
    text-align: center;
    border-radius: 0.2em;
}
.inscription-connexion fieldset > img{
    align-self: center;
    width: 7em;
    margin:0;
}
.inscription-connexion form > p > label::after{
    content: "*";
    display: inline;
    line-height: 0.5em;
    color:red;
    vertical-align: top;
}
.inscription-connexion form > p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inscription-connexion form > p > label, input{
    margin:0.1em;
}
.inscription-connexion form > p > span{
    align-self: center;
    color:red;
    font-size: 0.7em!important;
    margin-top: 0.7em;
}
.inscription-connexion form > p :nth-child(even){
    margin-bottom: 0.5em;
    font-size: 1em;
    border-radius:1px;
}
.inscription-connexion form > p > .button-envoyer{
    margin-top: 0.5em;
    padding:0.2em;
    align-self: stretch;
}
.inscription-connexion > fieldset > a{
    margin-bottom:1.5em;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}
.inscription-connexion > fieldset > a:hover{
    text-decoration: underline;
}
#question, #reponse{
    width: 20em;
}