body{width: auto; font-size: 25px;}
img, blockquote, textarea, input, li{
    max-width: 100%;
    margin:0;
    padding:0;
}

/* annule les :hover*/
 .header-profil:hover .header-profil_overlay, .header-profil > label + a:hover, .header-profil_overlay:hover, .acteurs ul li a:hover, .commentaires-new label:hover, .connexion > fieldset > a:hover{
    display:none;
}

/* ----------------------- HEADER */

header{
    position: static;
    height: auto;
}
.header-contain{
    flex-direction: column;
    align-items: stretch;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}
.header-contain:after{
    content: "";
    display: inline-block;
    margin:auto;
    width: 90%;
    height: 0.15em;
    background-color:rgba(0, 0, 0, 0.1) 
}
.header-logo{
    width: 5em;
    margin: 0;
    align-self: center;
}

/* HEADER -- PROFIL*/

.header-profil{
    min-width: 100%;
    text-align: center;
    position: initial;
}
.header-profil > label{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.5em;
}
.header-profil > label + a{
    position: absolute;
    top:0;
    right:0;
    margin: 0;
    visibility: hidden;
}
.header-profil > label + a:before{
    content: "";
    position: absolute;
    right: 0;
    margin:1em;
    display:inline-block;
    background:url(../images/icone-deconnexion.png) center / cover no-repeat;
    width: 3em;
    height: 3em;
    visibility: visible;
}
.header-profil > input:checked ~.header-profil_overlay{
    opacity: 1;
    width: 100%;
    font-size: 1.5em;
}

/* ----------------------- SECTIONS */
   
section{
    padding-top:30px;
}

/* ------------------------------ Page Accueil */

.main-accueil{
        margin:0; 
}

/* GBAF présentation */

.texte{
    max-width: 85%;
    margin: auto;
}

 /* Liste acteurs et partenaires */

 .texte-acteurs{
    max-width: 85%;
    margin: auto;
 }
 .acteurs {
    margin-top:3em;
    padding:1em;
    background-color: white;
}
 .acteurs ul li{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: stretch;
     padding: 1em;
 }
.acteurs ul li img{
    width: 100%;
    align-self: center;
    margin:0;
}
.acteurs ul li :nth-child(4){
    margin:0.5em;
    align-self: flex-end;
    border: 0.08em solid black;
}
.acteurs ul li :nth-child(4):hover{
    display: none;
}

/* ------------------------------ Page Partenaire */

/* SECTION PARTENAIRE */

.main-partenaire{
    margin:0; 
}
.main-partenaire section{
    width: 100%;
}

/* SECTION Commentaires */

.commentaires{
    border-radius: 0.9em;
}
.commentaires-formulaires{
    grid-template-columns: 1fr 9em;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em ; row-gap: 1em;
}
.commentaires-formulaires p{
    grid-column: 1 / span 2;
    grid-row: 1/2;
    margin: 0;
}
.commentaires-new{
    grid-column: 1 /2;
    grid-row: 2/3;
    font-size: 1.2em;
}
.commentaires-likes{
    grid-column: 2/3;
    grid-row: 2/3;
}
.commentaires-likes > p{
    font-size: 1.5em;
    border: 0.09em solid;
    padding:0.2em;
}

/* ------------------------------ Page Connexion */

.connexion{
    background-color: #ebebeb;
}
.connexion > fieldset{
    width: 100%;
    justify-content: space-around;
    height: 60%;
    margin:0;
    padding: 0;
}
.connexion > fieldset > legend{
    position:absolute;
    top:0; left:0;
    padding:1em;
    margin: 0;
    font-size: 1.5em;
}
.connexion > fieldset > form > p{
    border:none;
    height: auto;
    font-size: 1.5em;
}
.connexion > fieldset > form > p  input{
    font-size: 1.5em;
}
.connexion-button{
    font-size: 1.3em!important;
}
.connexion p > label{
    font-size: 1em;
}
.connexion > fieldset > a{
    font-size: 1.3em;
    text-decoration: underline;
}
