:root {
    --gutter: 50px;
    --gutter_text : 50px;
    --header_height:calc(var(--header_logo_size) + var(--header_profil_height));
    --header_logo_size:100px;
    --header_profil_height:2em;
}

body{ font-size: 30px; width: 100%;}
img, blockquote, textarea, input, li{
    max-width: 100%;
    margin:0;
    padding:0;
}

/* annule les :hover*/
 .header-profil:hover .header-profil_overlay, .header-profil > label + a:hover, .header-profil_overlay:hover, .acteurs ul li a:hover, .commentaires-new label:hover, .inscription-connexion > fieldset > a:hover{
    display:none;
}
h1{font-size:2em;}


/* ----------------------- HEADER */

header{
    position: static;
}
.header-contain{
    flex-direction: column;
    align-items: center;

}
.header-contain:after{
    content: "";
    display: block;
    width: 88%;
    height: 0.20em;
    margin-top:0.5em;
    background-color:rgba(0, 0, 0, 0.1);
}

/* HEADER -- PROFIL*/

.header-profil{
    justify-content: center;
    position: initial;
    height: var(--header_profil_height);
}
/* bouton image deconnexion */
.header-profil > li:nth-child(2){
    position: absolute;
    display: block;
    top:0;
    right:0;
    margin:1em;
    overflow: hidden;
}
.header-profil > li:nth-child(2) > a{
    display: block;
    width: 3em;
    height: 3em;
    color:transparent;
}
 .header-profil > li:nth-child(2) > a::before{
    content: "";
    position: absolute;
    top:0;
    right:0;
    display: block;
    background:url(../images/icone-deconnexion.png) center / cover no-repeat;
    width: 3em;
    height: 3em;
}
/*  bouton changer modifier profil*/
.header-profil > li:last-child{
    position: relative;
    top:-1.7em;
    opacity: 0;
    height: var(--header_profil_height);
}

/* ----------------------- MAIN & SECTION & ARTICLE */
main{
    margin-top:0;

}
section{
    padding-top:30px;
}
.text {
    margin-left: var(--gutter_text);
    margin-right: var(--gutter_text);
}

/* ------------------------------ Page Accueil */

/* GBAF présentation */

 /* Liste acteurs et partenaires */

.acteur-seul{
    height: auto;
}
.acteur-seul{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: stretch;
     padding: 1em;
 }
 .acteur-seul > img, .acteur-seul > h3, .acteur-seul > div {
     margin-bottom: 1em;
 }
.acteur-seul > h3{
    align-self: flex-start;
}
.acteur-seul :nth-child(4){
    margin:0;
    align-self: flex-end;
}
.acteur-seul :nth-child(4):hover{
    display: none;
}

/* ------------------------------ Page Partenaire */

/* SECTION PARTENAIRE */


/* SECTION Commentaires */

.commentaires{
    border-radius: 0.9em;
    padding:1em;
}
.commentaires-formulaires{
    grid-template-columns: 1fr 9em;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em ; row-gap: 1em;
}
.commentaires-formulaires p{
    grid-column: 1 / span 2;
    grid-row: 1/2;
    margin: 0;
}

/*  Nouveau Commentaire*/
.new_commentaire_popup{
    height: 100%;
    top:0;
    bottom:0;
}
.new_commentaire_popup > p{
    height: 35%;
    width: 80%;
}
/* likes */
.commentaires-likes{
    grid-column: 2/3;
    grid-row: 2/3;
    color:transparent;
}
.commentaires-likes > p{
    font-size: 1.5em;
    padding:0.2em;
}



/* ------------------------------ Pages Connexion & Inscription */

 .inscription-connexion{
    margin:0;
    width: 100%;
    background-color:transparent;
}
.form_container{
    min-width: 100%;
    max-width: 100%;
    background-color:transparent;
}
.form_container fieldset{
    border:none;
    font-size: 1.4em;
    padding:0.7em;
}
 .form_container fieldset > a{
    text-decoration: underline;
 }