html {
    height: 100%;
    margin:0;
    padding: 0;
}
body, a{
     margin:0; 
     padding:0; 
     text-decoration:none; 
     list-style:none;
     box-sizing: border-box; 
     font-family: 'Roboto', sans-serif; 
     color:black;
}
body{font-size:16px;
height: 100%;
width: 100%;
margin:0 auto;}

img{max-width: 100%;}

h1{font-size:3em;}
h2{font-size: 2em;}
h3{font-size: 1.3em;}
p{font-size: 1em; hyphens: auto; -moz-hyphens: auto;}


/* ----------------------- HEADER */

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 6.6em;
    background-color: white;
    z-index: 2;
}
.header-contain{
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 80%;
    min-width: 850px;
    margin:auto;
}
.header-logo{
    width: 80px;
    height: auto;
}

/* HEADER -- PROFIL*/

.header-profil{
    width: 8.5em;
    text-align: right;
    position: relative;
}
.header-profil > input {
    display: none;
    width: 100%;
    height: inherit;
    position: absolute; 
}
.header-profil label{
    display:inline-block;
    text-align: right;
    width: 100%;
    margin:0;
    cursor: pointer;
}
.header-profil label::after{
    content:"";
    background: url(../images/icone-close.png) center/contain no-repeat;
    display:none;
    vertical-align: sub;
    opacity: 0;
} 
.header-profil label::before{
    content:"";
    display:inline-block;
    vertical-align: sub;
    height: 1.8em;
    width: 1.8em;
    margin-right:8px;
    background:url(../images/profil.png) center/contain no-repeat;
}
.header-profil a{
    font-size: 0.8em;
    display: block;
    line-height: 2em;
}
.header-profil > label + a{
    color:red;
}
.header-profil > label + a:hover{
    color: rgba(0, 0, 0, 0.8);
}
.header-profil_overlay{
    position: absolute;
    opacity: 0;
    background-color:black;
    color:white;
    font-weight: 300;
    width: inherit;
    padding-right:0.8em;
}
.header-profil:hover .header-profil_overlay{
    opacity: 1;
    transition: 0.5s ease;
}
.header-profil_overlay:hover{
    color:#ff0000;
}

/* ----------------------- FOOTER */

footer{
    background-color: black;
    height: 3em;
}
footer p{
    margin: auto;
    font-weight: 100;
    color:white;
    text-align: center;
    line-height: 3em;
}

/* ----------------------- SECTIONS */

section{
    max-width: 80%;
    min-width: 850px;
    padding-top:5.6em;
    margin:auto;
}

/* ------------------------------ Page Accueil */
.main-accueil{
    margin-top:6.6em; 
}

/* GBAF présentation */

.GBAF{
    margin-bottom:80px;
}
.GBAF-illustration{
    margin-top:80px;
    position: relative;
    width: 100%;
    height:400px;
    background:url(../images/illustration.jpg) center / cover no-repeat;
}
.GBAF-illustration img{
    position: absolute;
    right:20px;
    bottom:20px;
    width: 80px;
}

 /* Liste acteurs et partenaires */

.list-acteurs{
    border-top:0.2em solid rgba(0, 0, 0, 0.1);
}
.acteurs{
    background-color:rgba(0, 0, 0, 0.02);
    padding:1.2em;
    min-width: 764px;
}
.acteurs > ul{
    margin:0;
    padding: 0;
}
.acteur-seul{
    display: grid;
    grid-template-columns: 370px 2fr 150px ;
    grid-template-rows: 1fr 2em 1fr;
    grid-template-areas: "logo nom nom"
                "logo infos ." 
                "logo . button";
    column-gap: 20px;
    align-items:center;
    margin-bottom: 1.25em;
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.12);
}
.acteur-seul > img{
    height: auto;
    margin:0.5em;
    grid-area: logo;
}
.acteur-seul > h3{
    grid-area: nom;
}
.acteur-seul_description {
    max-width: 100%;
    grid-area: infos;
    overflow: hidden;

}
.acteur-seul_description > p:first-of-type{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.acteur-seul_description > ul, .acteur-seul_description > p ~ p{
    display:none;
} 

.acteur-seul > a{
    grid-area: button;
    justify-self:end;
    align-self: start;
    border: 1px solid black;
    border-radius:0.4em;
    padding: 0.5em;
    margin-right:30px;
}
.acteur-seul > a:hover{
    background-color:black;
    color:white;
}

/* ------------------------------ Page Partenaire */

.main-partenaire{
        margin-top:6.6em; 
}
.main-partenaire section{
    width: 70%;
}

/* SECTION PARTENAIRE */
.partenaire{
    padding:2em;
}
.partenaire > img{
    width: 30em;
    display: block;
    margin: auto;
}
.partenaire > a{
    font-size: 0.85em;
    text-decoration: underline;
}
.partenaire > p{
    white-space: pre-wrap;
}

/* SECTION Commentaires */

.commentaires{
    background-color:rgba(0, 0, 0, 0.05);
    padding: 2em;
}
.commentaires-formulaires{
    display:grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 2em; 
    align-items: center;
    margin-bottom: 1em;
}
.commentaires-formulaires > p{
    font-size: 1.5em;
}
.commentaires-new label{
    border:0.1em solid black;
    padding: 0.5em;
    border-radius: 0.5em;
    margin:auto;
    background-color: white;
}
.commentaires-new label:hover{
    background-color: black;
    color:white;
}
.commentaires-new > div{
    display: none; 
}

/* Like / dislike*/

.commentaires-likes > p{
    display:flex;
    justify-content: center;
    border:0.1em solid black;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}
.likes::after , .dislikes::before{
    content: "";
    display: inline-block;
    vertical-align: sub;
    width: 1.25em;
    height: 1.25em; 
    cursor: pointer;
}
.likes::after{
    background: url(../images/icone-like.png) center / cover no-repeat;
    margin-right: 0.3em;
}
.dislikes::before{
    background: url(../images/icone-dislike.png) center / cover no-repeat;
}
.commentaires-likes input{
display: none;
}
.commentaires-likes input:checked + label::after{
    background: url(../images/icone-like-active.png) center / cover no-repeat;  
}
.commentaires-likes input:checked + label::before{
    background: url(../images/icone-dislike-active.png) center / cover no-repeat;  
}

/* liste commentaires*/

.commentaires-liste {
    padding:0;
    margin: 0;
}
.commentaires-liste li{
    border:0.1em solid black;
    border-radius: 0.5em;
    padding:1em;
    margin-bottom: 1em;
    list-style:none;
    background-color: white;
}

/* Aside retour page accueil*/

 .retour-accueil a{
    display: block;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: right; 
    font-size: 0.85em;
    text-decoration: underline;
}

/* ------------------------------ Pages Connexion & Inscription */

.inscription-connexion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
}
.inscription-connexion  fieldset{
    display: flex;
    flex-direction: column;
    padding: 1em 7em 1em 7em;
    width: 40%;
    background-color:#ebebeb;
    border:none;
    border-radius: 0.2em;
}
.inscription-connexion fieldset > legend{
    background-color:#ebebeb;
    padding:0.5em 1em 0.5em 1em;
    margin-left:-7em;
    text-align: center;
    border-radius: 0.2em;
}
.inscription-connexion fieldset > img{
    align-self: center;
    width: 7em;
    margin:0;
}
.inscription-connexion form > p{
    display: flex;
    flex-direction: column;
}
.inscription-connexion form > p > label, input{
    margin:0.1em;
}
.inscription-connexion form > p :nth-child(even){
    margin-bottom: 0.5em;
    font-size: 1em;
    border-radius:1px;
}
.inscription-connexion form > p > :last-child{
    margin-top: 1.2em;
    padding:0.2em;
}
.inscription-connexion > fieldset > a{
    margin:0.5em;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}
.inscription-connexion > fieldset > a:hover{
    text-decoration: underline;
}
