/* annule les :hover*/
.header-profil:hover .header-profil_overlay, .header-profil > label + a:hover, .header-profil_overlay:hover, .acteurs ul li a:hover, .commentaires-new label:hover, .inscription-connexion > fieldset > a:hover{
    display:none;
}


/* ----------------------- HEADER */

/* HEADER -- PROFIL*/

header{
    min-width: 300px;
    margin-right: 5em;
    margin-left: 5em;
}

/* HEADER -- PROFIL*/

.header-profil_overlay{
    opacity: 1;
}
/* ----------------------- SECTIONS */
.main-accueil{
    margin-right: 5em;
    margin-left: 5em;
}
.main-partenaire{
    margin-right: 5em;
    margin-left: 5em;
}
main{
    max-width: 100%;
    min-width: 100%;
}

section{
    padding-top:30px;
}

/* ------------------------------ Page Accueil */

/* GBAF présentation */

.texte{
    max-width: 85%;
    margin: auto;
}

 /* Liste acteurs et partenaires */

.texte-acteurs{
    max-width: 85%;
    margin: auto;
 }

/* ------------------------------ Pages Connexion & Inscription */

@media all and (orientation : portrait){
    .inscription-connexion > fieldset > form > p{
        font-size: 1.3em;
    }
    .inscription-connexion form > p :nth-child(even){
        font-size: 1.3em;
    }
    .inscription-connexion form > p > :last-child{
        font-size: 1em;
    }
    .inscription-connexion > fieldset > a{
        text-decoration: underline;
        font-size: 1.1em;
        margin-bottom: 1em;
    }
}