/* ------------------------------ Global ------------------------------*/
:root {
    --gutter: 50px;
    --gutter_text : 50px;
    --header_height:calc(var(--header_logo_size) + var(--header_profil_height));
    --header_logo_size:130px;
    --header_profil_height:2em;

}
body{ font-size: 30px; width: 100%;}
img, blockquote, textarea, input, li{
    max-width: 100%;
    margin:0;
    padding:0;
}
h1{font-size:2em;}
h2{font-size: 1.5em;}

/* annule les :hover*/
 .header-profil:hover .header-profil_overlay, .header-profil > label + a:hover, .header-profil_overlay:hover, .acteurs_list ul li a:hover, .commentaires-new label:hover, .inscription-connexion > fieldset > a:hover{
    display:none;
}



/* ----------------------- HEADER */
header{
    position: static;
    max-height: max-content;
}
    .header-contain{
        flex-direction: column;
    }
    .header-contain:after{
        content: "";
        display: block;
        width: 90%;
        height:0.2em;
        margin-top:1em;
        background-color: rgba(0, 0, 0, 0.08);
    }
        /* Profil*/
        .header-profil{
            position: initial;
            height: var(--header_profil_height);
            font-size: 1.2em;
        }
            /* Nom Prénom */
            .profil_nom{
                justify-content: center;
            }
            /* bouton Déconnexion & Modifier le profil */
            .header-profil li >a{
                line-height: 2em;
            }
            /* bouton deconnexion */
            .header-profil > li:nth-child(2){
                position: absolute;
                display: block;
                top:0;
                right:0;
                margin:1em;
                overflow: hidden;
            }
            .header-profil > li:nth-child(2) > a{
                display: block;
                width: 2.3em;
                height: 2.3em;
                color:transparent;
            }
            .header-profil > li:nth-child(2) > a::before{
                content: "";
                position: absolute;
                top:0;
                right:0;
                display: block;
                background:url(../images/icone-deconnexion.png) center / cover no-repeat;
                width: 2.3em;
                height: 2.3em;
            }
            /*  bouton modifier son profil*/
            .header-profil > li:last-child{
                position: relative;
                top:-1.7em;
                opacity: 0;
            }


/* ----------------------- MAIN & SECTIONS & ARTICLES $ TEXTES */
main{
    margin-top:0;

}

.text {
    margin-left: var(--gutter_text);
    margin-right: var(--gutter_text);
}

/* ------------------------------ Accueil Connecté------------------------------*/


/* Section Présentation Acteurs / Partenaires */
/* Article Liste des acteurs + navigation */
.acteur_seul{
    height: auto;
}
.acteur_seul{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: stretch;
     padding: 1em;
 }
    /* Logos / Nom / Description Acteurs */
    .acteur_seul > img, .acteur_seul > h3, .acteur_seul > div {
        margin-bottom: 1em;
    }
    /* Nom Acteurs */
    .acteur_seul > h3{
        align-self: flex-start;
    }
        /* première ligne description acteur */
        .acteur-seul_description > p:first-of-type{
            overflow: visible;
            white-space: normal; 
        }
    /* bouton "Lire la suite" */
    .acteur_seul :nth-child(4){
        margin:0;
        align-self: flex-end;
    }
    .acteur_seul :nth-child(4):hover{
        display: none;
    }


/* ------------------------------ Partenaire Connecté------------------------------*/

/* Section Commentaires */
.commentaires{
    border-radius: 0.9em;
    padding:1em;
}
    .commentaires_dynamic{
        grid-template-columns: 1fr 9em;
        grid-template-rows: 1fr 2fr;
        column-gap: 1em ; row-gap: 1em;
    }
        /* Nombre de commentaire */
        .commentaires_dynamic > p{
            grid-column: 1 / span 2;
            grid-row: 1/2;
            margin: 0;
        }
        /* Formulaire Nouveau commentaire popup */
        .new_commentaire_formulaire{
            height: 100%;
            top:0;
            bottom:0;
        }
        /* Formulaire Nouveau commentaire popup */
            .new_commentaire_formulaire > p{
                height: 22em;
                margin:0;
                width: 85%;
            }
            .new_commentaire_formulaire > p > textarea{
                height:12em;
            }
    /* Vote : Like / dislike */
    .commentaires_vote{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: end;
    }


/* ------------------------------ Index / Inscription / Modifier son Profil / MP ------------------------------*/
/* Main */
 .inscription-connexion{
    margin:0;
    width: 100%;
    background-color:transparent;
}
    /* Section */
    .form_container{
        min-width: 100%;
        max-width: 100%;
        background-color:transparent;
    }
        .form_container fieldset{
            border:none;
            font-size: 1.4em;
            padding:0.7em;
        }
        /* liens vers index ou accueil .. */
        .form_container fieldset > a{
            text-decoration: underline;
        }