@media only screen  
and (max-width: 480px) {
    
	/* ------------------------------ Global ------------------------------*/
	:root {
		--gutter_text: 30px;
		--header_height: auto;
		--space_section: 50px;
		--header_logo_size: 60px;
		--header_profil_height: 2em;
		--min_width: auto;
	}
	img,
	blockquote,
	textarea,
	input,
	li {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.3em;
    }
    h4{
        font-size: 0.89em;

    }
    html { min-height: 100vh;}
    body {
        font-size: 13px;
        min-height: 100vh;
    }
    
    .contain_all {
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto;
        grid-template-areas: 
            "header"
            "main"
            "footer"
    }

	/* ----------------------- HEADER */
	header {
        flex-direction: column;
        align-items:center;
	}
	header:after {
		content: "";
		display: block;
		width: 90%;
		height: 0.2em;
		margin-top: 0.5em;
		background-color: rgba(0, 0, 0, 0.08);
	}
	/* Profil*/
	.header-profil {
		position: initial;
		height: var(--header_profil_height);
	}
	/* Nom Prénom */
	.profil_nom {
		justify-content: center;
	}
	/* bouton Déconnexion & Modifier le profil */
	.header-profil li > a {
		line-height: 2em;
    }
	/* bouton deconnexion */
	.header-profil > li:nth-child(2) {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		margin: 1em;
		overflow: hidden;
	}
	.header-profil > li:nth-child(2) > a {
		display: block;
		width: 2.3em;
		height: 2.3em;
		color: transparent;
    }
    .header-profil > li:nth-child(2):hover .header-profil > li:last-child{
        opacity: 0;
	}
	.header-profil > li:nth-child(2) > a::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		background: url(/images/icone-deconnexion.png) center / cover
			no-repeat;
		width: 2.3em;
		height: 2.3em;
    }
	/*  bouton modifier son profil*/
	.header-profil > li:last-child {
		position: relative;
		top: -1.7em;
		opacity: 0;
	}
	.header-profil > li:last-child:active {
		opacity: 0;
	}

	/* -----------------------  FOOTER */
	footer p {
		font-size: 11px;
		line-height: 3em;
	}

	/* ----------------------- MAIN & SECTIONS & ARTICLES $ TEXTES */
	main {
        width: 100%;
        padding: 0 1em 0 1em;
    }

	.text {
		margin-left: var(--gutter_text);
		margin-right: var(--gutter_text);
	}

	/* ------------------------------ Accueil Connecté------------------------------*/

	/* Section Présentation Acteurs / Partenaires */
	/* Section Présentation GBAF */
	.GBAF-illustration {
		height: 11em;
	}
	.GBAF-illustration img {
		right: 2em;
		bottom: 0.5em;
		width: 3em;
	}
	/* Article Liste des acteurs + navigation */
	.acteur_seul {
		height: auto;
	}
	.acteur_seul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		padding: 1em;
	}
	.partenaire > a {
		margin-left: var(--gutter_text);
		margin-bottom: 1em;
	}
	/* Logos / Nom / Description Acteurs */
	.acteur_seul > img,
	.acteur_seul > h3,
	.acteur_seul > div {
		margin-bottom: 1em;
	}
	/* Nom Acteurs */
	.acteur_seul > h3 {
		align-self: flex-start;
	}
	/* première ligne description acteur */
	.acteur-seul_description > p:first-of-type {
		overflow: visible;
		white-space: normal;
	}
	/* bouton "Lire la suite" */
	.acteur_seul :nth-child(4) {
		margin: 0;
		align-self: flex-end;
	}

	/* ------------------------------ Partenaire Connecté------------------------------*/

	/* Section Commentaires */
	.commentaires {
		border-radius: 0.9em;
		padding: 1em;
	}
	.commentaires_dynamic {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 2fr;
		column-gap: 1em;
		row-gap: 1em;
	}
	/* Nombre de commentaire */
	.commentaires_dynamic > h4 {
		grid-column: 1 / span 2;
		grid-row: 1/2;
		margin: 0;
	}
	/* Formulaire Nouveau commentaire popup */
	.new_commentaire_formulaire {
		height: 100%;
		top: 0;
		bottom: 0;
	}
	/* Formulaire Nouveau commentaire popup */
	.new_commentaire_formulaire > p {
		height: 28em;
		margin: 0;
		width: 92%;
		padding: 1em 2em 1em 2em;
    }
    /* Bouton open */
    .open_popup{
        font-size: 0.86em;
        display: block;
        text-align: center;
    }
	/* Boutton close */
	.new_commentaire_formulaire > p > .close_popup {
		right: -1em;
		top: -0.2em;
	}
	.new_commentaire_formulaire > p > textarea {
		height: 17em;
	}
	.new_commentaire_formulaire > p > label:nth-child(2) {
		line-height: 1.5em;
	}
	/* Boutton envoi formulaire */
	.new_commentaire_formulaire > p > input {
		border: none;
		padding: 0.5em 1em 0.5em 1em;
		background-color: rgba(0, 0, 0, 0.1);
	}
	/* Vote : Like / dislike */
	.commentaires_vote {
		grid-column: 2/3;
		grid-row: 2/3;
		justify-self: end;
	}

	/* ------------------------------ Index / Inscription / Modifier son Profil / MP ------------------------------*/
	/* Main */
	.inscription-connexion {
        background-color: white;
        font-size: 1em;
        padding:0;
        flex: 1;
	}
	/* Section */
	.form_container {
        min-width: auto;
        max-width: auto;
        background-color: white;
	}
	/* Legende formulaire*/
	.form_container fieldset > legend {
		width: 100%;
		text-align: center;
	}
	/*labels*/
	.form_container form > p > input {
		border: none;
		background-color: rgba(0, 0, 0, 0.04);
	}
	.form_container form > p > input {
		color: rgba(0, 0, 0, 0.5);
    }
	.form_container input:focus {
		background-color: rgba(0, 0, 0, 0.075);
	}
	/* Bouton envoyer */
	.form_container fieldset {
		border: none;
	}
	/* liens vers index ou accueil .. */
	.form_container fieldset > a {
		text-decoration: underline;
	}
}
